
.editors-page {
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.delete-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #131212;
  padding: 5px;
  right: 0px;
  transition: color 0.3s ease, background-color 0.3s ease;
  background: none;
  border: none;
}

.delete-btn:hover {
  color: #c0392b;
  background-color: #f8d7da;
}