
/* Individual Filter Item */
.filter-item {
  display: flex;
  flex-direction: column;
}

/* Filter Label */
.filter-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

.inventory-filters-container select,
.inventory-filters-container input {
  width: 50px; /* Set to your desired width */
  min-width: 0;

}

.filter-control select{
  box-shadow: none;
}


/* Hover and Focus States */
.filter-control select:hover,
.filter-control select:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.685);
  outline: none;
}

.ripples {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: ripple-animation 600ms linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(1);
    opacity: 0;
  }
}


/* Responsive Layout */
@media (max-width: 768px) {
  .inventory-filters-container {
    flex-direction: column;
    gap: 15px;
  }
}
